@using EVS.Dotnet328.UsersMgt;
@using EVS.Dotnet328.GarmentsShop.Models

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    AlertModel alertMessage = TempData["AlertMessage"] as AlertModel;
    User CurrentUser = Session[WebUtil.CURRENT_USER] as User;
}

@if (alertMessage != null)
{
    @Html.Partial("~/Views/Shared/_AlertView.cshtml", alertMessage)
}

@using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new { id = "changepasswordform" }))
{
    <div class="row form-group">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-9 bg-success">
            <h1>@CurrentUser.Name</h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-3">
            <a href="#"><img title="Profile Image" class="img-circle" src="~/Images/banners/dumy.png"></a>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("CurrentPassword", null, new { placeholder = "Current Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("NewPassword", null, new { placeholder = "New Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group has-feedback">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                @Html.TextBox("ConfirmPassword", null, new { placeholder = "Confirm Password", type = "Password", @class = "form-control" })
                <span class="form-control-feedback"></span>
            </div>
        </div>

        <div class="form-group modal-footer">
            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-check"></span> Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove-circle"></span> Cancle</button>
        </div>
    </div>
}

@section myscript{
    <script type="text/javascript">
        $(function () {
            $(".form-control").blur(function () {
                debugger;
                if ($(this).val().length == 0) {
                    if ($("[id=CurrentPassword]") == "CurrentPassword") {
                        if ($(this).val ==@CurrentUser.Password)
                        {
                            $(this).parent().addClass("has-success");
                            $(this).parent().removeClass("has-error");
                            $(this).next().html("<span class='glyphicon glyphicon-check'></span>");
                        }
                        else {
                            $(this).parent().addClass("has-error");
                            $(this).parent().removeClass("has-success");
                            $(this).next().html("<span class='glyphicon glyphicon-warning-sign'></span>");
                        }
                    }
                    else {
                        $(this).parent().addClass("has-error");
                        $(this).parent().removeClass("has-success");
                        $(this).next().html("<span class='glyphicon glyphicon-warning-sign'></span>");
                    }

                }
                else {

                }
            });
        });
    </script>

}